
body{
background-color: rgb(122, 196, 245);
  
}
.box{
  max-width: 400px;
  height: 260px;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  margin: 100px auto;
  border-radius: 5px;
}
h1{
 text-align: center;
 border-bottom: solid;

}
label{
margin-bottom: 30px;
font-size: 25px;

}

.form-control{
border: 1px solid black;
border-radius: 4px;
padding: 5px 2px;
  width: 90%;
  margin: 8px;

}
.but{
  margin: 8px;
  width: 90%;
  padding: 5px 5px;
  background-color: rgb(135, 202, 222);
  border: 1px solid black;
  border-radius: 5px;
}

#passfield{
 position: absolute;
 right: 38%;
margin-top: -28px;
}
